@import url('https://fonts.googleapis.com/css2?family=Macondo&display=swap');

.hero{
    background:url("./img/641d6189be2e3b4e07c9dfa6_Group\ 37.webp");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    h1{
        font-family: "Macondo", serif;
    }
    button{
        left:0;
        bottom:0;
        background-color: aqua;
        padding: 20px;
        
    }
}